## üöÄ Beginner Exercises (Fundamentals)

These focus on basic syntax, function usage, and standard operations.

### Data Type Fundamentals

1.  **Type Identification:**

      * Create a variable for your age, your height (with decimals), and a boolean (e.g., `is_student`).
      * Use the **`type()`** function to print the data type of each variable.
      * **Challenge:** What type does the result of `3 + 2j` yield?

2.  **Basic Casting:**

      * Take the string `"25.75"` and convert it to a floating-point number.
      * Take the integer `15` and convert it to a string.
      * Take the float `5.99` and convert it to an integer. What happens to the decimal?

3.  **List and Tuple Differences:**

      * Create a **list** of your top three favorite colors.
      * Attempt to change the first element of the list to a new color.
      * Create a **tuple** of the numbers (10, 20, 30).
      * Attempt to change the first element of the tuple. What error do you get? (This demonstrates **mutability** vs. **immutability**).

In [1]:
age = 29
height = 5.9
is_student = True

type(age)  # int
type(height)  # float
type(is_student)  # bool

bool

In [2]:
# 1. challenge

i =3+2j
type(i)

complex

In [3]:
# string to float conversion
a ="25.75"
print(type(a))
a = float(a)
print(type(a))

<class 'str'>
<class 'float'>

In [4]:
# integer to string conversion
b = 100
print(type(b))
b = str(b)
print(type(b))

<class 'int'>
<class 'str'>

In [5]:
# float to integer conversion
d = 45.99
print(type(d))
d = int(d)
print(type(d))
print(d)  # it will remove decimal part

<class 'float'>
<class 'int'>
45

In [6]:
# list elemnt update
list = ["red", "green", "blue"]
print(list)
list[0] = "yellow"
print(list)

['red', 'green', 'blue']
['yellow', 'green', 'blue']

In [7]:
# trying same with tuple but handle the error so execution continues
tuple = ("red", "green", "blue")
print("Original tuple:", tuple)

try:
      tuple[0] = "yellow"
except TypeError as e:
      print("Error caught:", e)
      # If you want a "changed" tuple, create a new one instead
      

print("Program continues...")

Original tuple: ('red', 'green', 'blue')
Error caught: 'tuple' object does not support item assignment
Program continues...

### String Fundamentals

4.  **Concatenation and Length:**

      * Create two strings: `first_name` and `last_name`.
      * Concatenate them to form a `full_name` with a space in between.
      * Use the **`len()`** function to find the total length of `full_name`.

5.  **Accessing and Slicing:**

      * Given the string `s = "Analytical"`, use indexing to extract and print the character 'A'.
      * Use slicing to extract and print the substring `"lytical"`.
      * Use negative indexing to extract and print the character 'l' (the last letter).

6.  **Case and Stripping:**

      * Take the string `dirty_word = "    pREscriptive   "`.
      * Use a chain of string methods to clean it (remove whitespace and convert all characters to lowercase) so the result is `"prescriptive"`.

In [8]:
first_name = "dushyant"
last_name = "gedam"
full_name = first_name + " " + last_name
print(full_name)  
print(len(full_name))

dushyant gedam
14

In [9]:
string ="Analytical"
print(string[0])
print(string[3:]) 
print(string[-1:])

A
lytical
l

In [10]:
dirty_word = "  pREscriptive  "
new_word =dirty_word.strip()
print(new_word.lower())

prescriptive

## üõ†Ô∏è Intermediate Exercises (Application)

These require using flow control (`if/else`, loops) and combining multiple concepts.

### Data Type Application

7.  **Dictionary Lookup:**

      * Create a dictionary where the keys are country names and the values are their capitals.
      * Ask the user for a country name.
      * Use the **`in`** keyword to check if the country exists in the dictionary. If it does, print the capital; otherwise, print an "Unknown Country" message.

8.  **Set Operations:**

      * Create two sets of student IDs: `set_a = {101, 102, 103, 104}` and `set_b = {103, 104, 105, 106}`.
      * Find the **intersection** (students in both classes) and the **union** (all unique students).
      * Find the **difference** (students in set A but not in set B).

9.  **Type-Agnostic Summation:**

      * Write a function that accepts one argument.
      * Use the **`type()`** function to check if the argument is a **list** or a **tuple**.
      * If it is, calculate and return the sum of all its elements; otherwise, return `0`.

In [11]:
country = {"India": "New Delhi", "USA": "Washington D.C.", "France": "Paris"}

if "India" in country:
    print(country["India"])
else:
    print("Unknown Country")

New Delhi

In [12]:
seta={101,102,103,104}
setb={103,104,105,106}

print(seta.intersection(setb)) # intersection =  comman in both 
print(seta.difference(setb))  # {101, 102}
print(setb.difference(seta)) # {105, 106}

{104, 103}
{101, 102}
{105, 106}

In [15]:
def type_agnostic_summation(arg):
  if type(arg) == list or type(arg) == tuple:
    return sum(arg)
  else:
    return 0


list_data = [1, 2, 3, 4]
sum_list = type_agnostic_summation(list_data)
print(f"List {list_data} sum: {sum_list}")

print(type(list_data))

# i having problem here i should get output as 10 but i am getting 0
# this happen only in notebook in  python it works

List [1, 2, 3, 4] sum: 0
<class 'list'>

### String Manipulation and Logic

10. **Palindrome Checker:**

      * Write a function that takes a string as input.
      * The function should return `True` if the string is a **palindrome** (reads the same forwards and backward), and `False` otherwise. *Hint: Use string slicing to reverse the string.*

11. **Word Counter:**

      * Take a sentence like `"The quick brown fox jumps over the lazy dog."`
      * Use the **`.split()`** method to turn the sentence into a list of words.
      * Use the **`len()`** function on the resulting list to count the total number of words.

12. **F-String Formatting:**

      * Define the variables `item = "Laptop"` and `price = 999.9987`.
      * Use an **f-string** to print a message: "The Laptop costs $1000.00".
      * *Requirement:* You must use the `price` variable but format it to show exactly **two decimal places** and round up (e.g., 999.9987 becomes 1000.00).

In [ ]:
str = "Hello world"
type(str)

## üß† Expert Exercises (Advanced Techniques)

These combine complexity, efficiency, and real-world utility.

### Advanced Data Type Modeling

13. **Nested Data Access:**

      * Given the nested dictionary below (representing a simple JSON structure), write code to extract and print the **`city`** and the **`role`** of the second employee (`ID 102`).

    <!-- end list -->

    ```python
    company_data = {
        "employees": [
            {"id": 101, "name": "Alice", "details": {"role": "Analyst", "location": "NYC"}},
            {"id": 102, "name": "Bob", "details": {"role": "Manager", "location": "SF"}}
        ],
        "department": "Analytics"
    }
    ```

14. **Tuple Hashability:**

      * Write a function that takes a list of lists (e.g., `[[1, 2], [3, 4], [1, 2]]`).
      * Use a **set** to find and print only the unique inner lists. *Hint: Lists are unhashable, so they cannot be put directly into a set. You must **cast** the inner lists to **tuples** first.*

15. **Conditional List Comprehension:**

      * Starting with the list `numbers = [1, 5, 10, 15, 20, 25, 30]`, use a single-line **list comprehension** to create a new list containing only the numbers that are **divisible by 5**.

### Advanced String Processing

16. **Text Cleaning and Tokenization:**

      * Given a noisy block of text with mixed case, punctuation, and extra spaces.
      * Goal: Create a list of clean, lowercase words (tokens) without punctuation.
      * *Steps:*
        1.  Convert the text to lowercase.
        2.  Use the **`.replace()`** method to remove common punctuation (e.g., `.` , `,` , `!`).
        3.  Use the **`.split()`** method to create the list of words.

17. **String Formatting for Reports (Padding/Alignment):**

      * Use an **f-string** to format two columns of data: `Product Name` and `Price`.
      * The product name should be left-aligned and take up exactly **15 characters**.
      * The price should be right-aligned and take up exactly **10 characters**, with two decimal places.

    <!-- end list -->

    ```python
    product = "Optimizer 2.0"
    price = 1250.50
    # Expected output: Optimizer 2.0  $1250.50
    ```

18. **Character Frequency Counter:**

      * Write a function that takes a string.
      * It should use a **dictionary** to count the frequency of **every unique character** in the string (case-insensitive).
      * The function should return the dictionary where keys are characters and values are their counts.