ðŸ”¹ Basic Level

1. Create a variable called name and store your name in it. Then print it.

2. Create two variables, age and city, assign appropriate values, and print them in a sentence.

3. Store a number in a variable x. Store another number in y. Print their sum.

4. Create a variable is_raining and assign it a boolean value. Print it.

5. Assign the value 3.14 to a variable named pi and print its type using type().

In [1]:
# Basic 1
name ="dushyant"
print(name)

dushyant

In [2]:
# Basic 2
age,city= 25 ,"Delhi"
print("my name is",name,"my age is",age,"I live in",city)

my name is dushyant my age is 25 I live in Delhi

In [3]:
#basic 3
x=52
y=25
x+y

77

In [4]:
is_raining=True
print(is_raining)

True

In [5]:
#basic 5
pi = 3.14
type(pi)

float

ðŸ”¹ Intermediate Level

1. Swap the values of two variables a and b without using a third variable.

2. Create variables length and width. Calculate the area of a rectangle and store the result in a variable area.

3. Convert a variable temperature_c (Celsius) to Fahrenheit using a formula and store the answer.

4. Create a variable text = "Python" and print it 5 times using multiplication.

5. Create a variable containing your full name. Print the first and last name separately using indexing or split().

In [6]:
a = 55
b = 45

a,b=b,a
print(a,b)

45 55

In [7]:
l=25
b=45
area=l*b
print(area)

1125

In [8]:
c = 38
f = (9/5)*int(c) + 32
print("temperature in fahrenheit is:",f)

temperature in fahrenheit is: 100.4

In [9]:
v = "python "
print(v*5)

python python python python python

In [10]:
name = "Dushyant Kumar Gedam"
print(name[0:8])
print(name[-5:]) # start:end

Dushyant
Gedam

ðŸ”¹ Challenge Level

1. Assign three numbers to variables a, b, and c. Calculate the average and print it.

2. Create a variable seconds and convert it to hours, minutes, and remaining seconds.

3. Create a variable containing a sentence. Count how many characters it has (including spaces).

4. Create three variables: product_name, price, and quantity. Use them to calculate the total cost.

5. Create a variable num. Write code to check if it is even or odd using only variables and simple operators.

In [11]:
a,b,c = 5,10,15
avg = (a+b+c)/3
print("average is:",avg)

average is: 10.0

In [12]:
sec = 5000
min = sec/60
hrs = min/60
print("time in hours is:",round(hrs,2))

time in hours is: 1.39

In [13]:
sen = "my name is dushyant"
len(sen)

19

In [14]:
product_name = "mobile"
price = 30000
quantity = 2
total_cost = price * quantity
print("Total cost of", quantity, product_name + "s is:", total_cost)

Total cost of 2 mobiles is: 60000

In [15]:
num = 7
if num%2==0:
    print("even")
else:
    print("odd")

odd

# Observation

In [16]:
a = "hello \n"
print(a*5)

hello
hello
hello
hello
hello